<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        #menu {
            padding-top: 15%;
        }
    </style>
</head>

<body>
    <div class="container" id="menu">
        <div class="jumbotron text-center cyan darken-3">
            <h1 class="white-text"><span class="fa fa-lock white-text" ></span> Authentication</h1>
            <a href="/#/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
            <a href="/#/signup" class="btn btn-default"><span class="fa fa-user"></span> Sign up</a>
            <button class="btn btn-default" ng-click="login()"><span class="fa fa-user"></span> Auth0 access</a>
        </div>

    </div>
</body>