<header>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <style>
body {
  background-image: url(words.jpg);
  background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
.wrapper{
    background-color: white;
}
.content{
    margin-left: 3px;
    left: 5px;
}
</style>
<script>
    $(document).ready(function () {
        console.log("pantalla cargada");
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
        );
    });
</script>
</header>

<body id="bc-image">
    <div class="wrapper">
        <div id="content" class="col l6 s12">
            <h2 class="black-text">Bienvenid@</h2>                              
            <div class="container">
                <h3 class="black-text">words2join</h3>
                <a class="flow-text black-text text-lighten-4">
                    <p>El juego se desarrolla a lo largo de 2 minutos de forma que tendremos que añadir 10 palabras que se nos ocurran, intentando siempre buscar la máxima puntuación. Las palabras obligatoriamente deben pertenecer al diccionario de la Real Academia Española. Así funciona el modo de juego <strong>básico</strong>.</p>
                    <p>En el modo de juego <strong>hardcore</strong> para expertos, se añade la restricción de que todas las palabras tienen que comenzar por una letra generada aleatoriamente.</p>
                    <br><br><br>
            </div>
        </div>
    </div>
</body>