<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<style>
body {
  background-image: url(words.jpg);
  background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
table{
    background-color: white;
}
</style>
<header>
<nav>
    <div class="nav-wrapper indigo lighten-3">
        <a href="#" class="brand-logo right"><img width="60%" height="60%" src="logo.png" /></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <!--<li><a class="waves-effect waves-light btn indigo darken-4" ng-controller="home-ctrl" ng-click="playGame()">Play</a></li>-->
            <li><a class="dropdown-button  waves-light btn indigo darken-4" href="#!" data-activates="dropdown1">Play</a></li>
            <li><a class="waves-effect waves-light btn indigo darken-4" ng-controller="home-ctrl" ng-click="profile()">Profile</a></li>
            <li><a class="waves-effect waves-light btn indigo darken-4" ng-controller="home-ctrl" ng-click="rank()">Ranking</a></li>
            <li><a class="waves-effect waves-light btn indigo darken-4" ng-controller="home-ctrl" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li>
        <a class="waves-effect waves-light indigo darken-4" style="color:#ffffff" ng-controller="home-ctrl" ng-click="normalGame()" >Normal mode</a>
</li>
<li>
    <a class="waves-effect waves-light indigo darken-4" style="color:#ffffff" ng-controller="home-ctrl" ng-click="hardGame()">Hard mode</a>
</li>
</ul>
<script>
    $(document).ready(function () {
        console.log("pantalla cargada");
        $('.dropdown-button').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrain_width: false, // Does not change width of dropdown to that of the activator
            hover: true, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: false, // Displays dropdown below the button
            alignment: 'left' // Displays dropdown with edge aligned to the left of button
        }
        );
    });
</script>
</header>
<body>
    <h1 class="white-text">Individual ranking </h1>
    <table class="table" bgcolor="white">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Player</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="individualranking in vm.items">
                <td>{{$index + 1}}</td>
                <td>{{individualranking.player}}</td>
                <td>{{individualranking.score}}</td>
                <td>{{individualranking.date | date:'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <!-- pager -->
    <ul ng-if="vm.pager.pages.length" class="pagination">
        <li class="disabled" ng-class="{disabled:vm.pager.currentPage === 1}">
            <a ng-click="vm.setPage(vm.pager.currentPage - 1)"><i class="material-icons">chevron_left</i></a>
        </li>
        <li class="waves-effect" ng-repeat="page in vm.pager.pages" ng-class="{grey:vm.pager.currentPage === page}">
            <a class="white-text" ng-click="vm.setPage(page)">{{page}}</a>
        </li>
        <li class="waves-effect" ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
            <a ng-click="vm.setPage(vm.pager.currentPage + 1)"><i class="material-icons">chevron_right</i></a>
        </li>
    </ul>
    <a class="waves-effect waves-light btn indigo darken-4" href="/#/ranking">Back</a>
</body>
<footer class="page-footer indigo lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">words2join</h5>
                <p class="grey-text text-lighten-4">
                    Made by:<br>
                        Ana Rodríguez González<br>
                        Jose Miguel<br>
                        Luis<br>
                        José Ignacio<br>
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Documentación</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">github</a></li>
                </ul>
            </div>
            </div>
         </div>
         <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright
        </div>
    </div>
</footer>