<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        html {
            font-size: 1.5em;
        }
        
        #menu {
            padding-top: 10%;
        }
    </style>
</head>

<body>
    <div class="container" id="menu">
        <div class="jumbotron col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>
            <!-- show any messages that come back with authentication -->
            <div class="alert alert-danger" ng-show="error">{{error}}</div>
            <!-- SIGN UP FORM -->
            <div class="input-field col s6">
                <input type="text" class="validate" ng-model="username">
                <label>Username</label>
            </div>
            <div class="input-field col s6">
                <label>Password</label>
                <input type="password" class="validate" ng-model="password">
            </div>
            <button class="btn waves-effect waves-light" ng-click="login()">Login</button>
            <hr>
            <p>Need an account? <a href="/#/signup">Sign up</a></p>
            <p>Or go <a href="/#/">back</a>.</p>
        </div>
    </div>
</body>