<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>

<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Signup</h1>
            <!-- show any messages that come back with authentication -->
            <div class="alert alert-danger" ng-show="error">{{error}}</div>
            <!-- SIGN UP FORM -->
            <div class="form-group">
                <label>Username</label>
                <input class="form-control" ng-model="username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="password">
            </div>
            <button class="btn btn-warning btn-lg" ng-click="signup()">Signup</button>
            <hr>
            <p>Already have an account? <a href="/#/login">Login</a></p>
            <p>Or go <a href="/#/">home</a>.</p>
        </div>

    </div>
</body>