// views/layout.jade

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.auth0.com/js/lock/10.6/lock.min.js")
  body
    block content